#albumsList li {
  list-style-type:square;
  margin-top:5px;
}
#albumsList li.not_in_set {
  margin-top:20px;
}
UL.thumbnails span.wrap2 {
  height: 128px;
  width: 128px;
}

.flickr2piwigo-progress {
  height: 20em;
  border: 2px inset #bbb;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.flickr2piwigo-progress legend {
  padding: 0.3em;
}

.flickr2piwigo-progress .flickr2piwigo-error {
  color: red;
}
